/* Path: LedgerLink/Views/Shared/_Layout.cshtml.css */
/* Styles specific to the _Layout.cshtml file */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-weight: 700;
  font-size: 1.5rem;
  color: #343a40 !important;
}

/* Navigation Links */
.nav-item .nav-link {
  color: #495057 !important;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.nav-item .nav-link:hover {
  color: #007bff !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.box-shadow {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}